@import '../../styles/var';

@keyframes btn {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.04);
  }
  90% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  padding: 0 15px;
  border: none;
  border-radius: 4px;
  background: linear-gradient($accentSecondary, $accent);
  box-shadow: 0 2px 12px -3px $accent;
  outline: none;
  font-size: 18px;
  line-height: 2;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.9;
  animation: btn 6s ease-in-out 3s infinite;

  &:hover:not(:disabled) {
    opacity: 1;
    box-shadow: 0 2px 2px -3px $accent;
  }

  &:disabled {
    background: linear-gradient(gray);
    opacity: 0.5;
    cursor: not-allowed;
  }
}
