@import '../../styles/var';

.link {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: $accent;
  }

  &Extend {
    padding: 1rem;
    border: 1px solid $mainDarkColor;
    border-radius: 1rem;
    text-decoration: none;

    &:hover {
      border-color: $accent;
    }
  }
}
